{% extends 'base.html.twig' %}

{% block title %}Cart summary{% endblock %}

{% block body %}
    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        {% if cart.items is not empty %}
            <div class="row px-xl-5">
                <div class="col-lg-8">
                    {% include 'cart/partials/items-list.html.twig' with {'data_manipulation': true} %}
                </div>
                <div class="col-lg-4">
                    <form action="{{ path('cart_coupon_apply') }}" method="post" class="mb-5">
                        <div class="input-group">
                            <input type="text" name="coupon" class="form-control p-4" placeholder="Coupon Code">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Apply Coupon</button>
                            </div>
                        </div>
                    </form>
                    {% include 'cart/partials/_summary.html.twig' with {'summary': summary} %}
                    <a href="{{ path("checkout_index") }}">
                        <button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">Your cart is empty</span></h2>
            </div>
        {% endif %}
    </div>
    <!-- Cart End -->
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            const cart_item_capacity = {{ cart_item_capacity }};
            $('.btn-minus').click(function () {
                $el = $(this);
                $itemId = $($el).closest('tr').data('item-id');
                $quantity = $el.parent().siblings('select').val();
                updateQuantity($itemId, --$quantity);
            });

            $('.item-quantity').click(function () {
                $el = $(this);
                $itemId = $($el).closest('tr').data('item-id');
                $quantity = $el.val();
                updateQuantity($itemId, $quantity);
            });

            $('.btn-plus').click(function () {
                $el = $(this);
                $itemId = $($el).closest('tr').data('item-id');
                $quantity = $el.parent().siblings('select').val();
                updateQuantity($itemId, ++$quantity);
            });

            $('.remove-item').click(function () {
                $el = $(this);
                $row = $el.closest('tr');
                var id = $el.data('item-id');

                $.ajax({
                    url: "/cart/remove/" + id,
                    method: "DELETE",
                    success: function (data) {
                        $row.fadeOut('fast',
                            function (here) {
                                $(here).remove();
                            });
                        if ($('items-table-body').length === 0) {
                            location.reload();
                        }
                    }
                });
            });

            function updateQuantity(itemId, quantity) {
                $.ajax({
                    url: "{{ path('cart_api_set_quantity') }}",
                    method: "PUT",
                    data: {"id": itemId, 'quantity': quantity},
                    success: function (data) {
                        location.reload();
                    }
                });
            }
        });
    </script>
{% endblock scripts %}
