{% extends 'logged.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    {% if cart is not empty %}
        cart ID: {{ cart.id }}
        <div class="example-wrapper">
        <div class="container">
        <div class="row mt-5">
        {% for item in cart.items %}
            Item
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ item.id }}</h5>
                        <p class="card-text">{{ item.prod_id }}</p>
                        <a class="btn btn-primary"
                           href={{ path("plan_index", {id: item.id}) }}>Check</a>
                    </div>
                </div>
            </div>
            {% if loop.index == 4 %}
                </div>
                <div class="row mt-5">
            {% endif %}
        {% endfor %}
        </div>
    {% else %}
        Cart is empty
    {% endif %}
{% endblock %}