{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <!-- Header-->
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <p class="fs-5">There are few options to call <a
                                href="https://github.com/RafalSalwa/interview-app-srv"> interview-srv API</a></p>
                    Asking api gateway via HTTP REST and let it decide what to do<br/>
                    Ask directly one of services that expose GRPC endpoints.<br/>
                    This time we will make grpc calls and skip rest service to show that, communication works.
                </div>
            </div>
        </div>
    </header>

{% endblock %}
