{% extends 'logged.html.twig' %}

{% block title %}gRPC SignUp{% endblock %}

{% block body %}

    {{ form(form) }}
    <div class="row">
        <div class="col-md-8">
            {% if grpc_status is not empty %}
                RPC call status
                <table class="table table-bordered">
                    <thead>
                    </thead>
                    <tbody>

                    <tr>
                        <td>status code</td>
                        <td id="access_token" style="word-wrap: break-word;min-width: 160px;max-width: 160px;"
                            class="p-2">{{ grpc_status.code }}</td>
                    </tr>
                    <tr>
                        <td>status details</td>
                        <td id="access_token" style="word-wrap: break-word;min-width: 160px;max-width: 160px;"
                            class="p-2">{{ grpc_status.details }}</td>
                    </tr>

                    </tbody>
                </table>
            {% endif %}

            {% if grpc_response is not empty %}
                RPC response
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>status</td>
                        <td id="access_token" style="word-wrap: break-word;min-width: 160px;max-width: 160px;"
                            class="p-2">{{ (grpc_response.getSuccess()) ? 'Success' : 'Failure' }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
{% endblock %}