###> symfony/framework-bundle ###
/.env.local.off
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

reports/results/*
!reports/results/.gitkeep
bin/
!bin/console
!bin/doctrine_orm
###< symfony/framework-bundle ###
.idea
###> league/oauth2-server-bundle ###
/config/jwt/*.pem
###< league/oauth2-server-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
bin/phpunit
.phpunit.cache
###< symfony/phpunit-bridge ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
###< squizlabs/php_codesniffer ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/

npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> sonarqube ###
/.scannerwork
###< sonarqube ###

###> qossmic/deptrac-shim ###
/.deptrac.cache
###< qossmic/deptrac-shim ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
