parameters:
    level: 6
    paths:
        - src/
        - tests/
    exceptions:
        check:
            tooWideThrowType: true
    ignoreErrors:
        - '#Property [a-zA-Z0-9\\_]+::\$id is never written, only read.#'
    doctrine:
        objectManagerLoader: tests/object-manager.php
    symfony:
        consoleApplicationLoader: tests/console-application.php