<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         colors="true"
         testdox="false"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         stopOnFailure="true"
         stopOnError="true">
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="10.4"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/</directory>
            <exclude>src/Protobuf</exclude>
        </testsuite>

        <testsuite name="integration">
            <directory>tests/Integration</directory>
            <exclude>src/Protobuf</exclude>
        </testsuite>

        <testsuite name="e2e">
            <directory>tests/e2e</directory>
            <exclude>src/Protobuf</exclude>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <report>
            <!--            <clover outputFile="reports/clover.xml"/>-->
            <!--            <cobertura outputFile="reports/cobertura.xml"/>-->
            <!--            <crap4j outputFile="reports/crap4j.xml" threshold="50"/>-->
            <html outputDirectory="reports/coverage/" lowUpperBound="50" highLowerBound="90"/>
            <!--            <php outputFile="reports/coverage.php"/>-->
            <!--            <text outputFile="reports/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>-->
            <!--            <xml outputDirectory="reports/xml-coverage/"/>-->
        </report>
    </coverage>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
