.card.product-item {
    min-height: 600px;

    .product-img {
        min-height: 400px;
    }
}

.py-10 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.vendor-item {
    min-height: 350px;
    object-fit: contain;
    display: flex;
    justify-content: center;
}

.vendor-carousel .owl-item img {
    margin: auto;
    display: block;
    width: 90%;
}