{% extends 'shop.html.twig' %}

{% block title %}Subscriptions{% endblock %}
{% block header_description %}
    <p class="fs-5">Subscription Plans, like Products, are part of Doctrine Class Table Inheritance,
        Base
        class for those
        entities is <strong>App\Entity\CartItem</strong>. <br/> App\Entity\SubscriptionPlan Also
        implements two
        interfaces: <i>CartInsertableInterface, CartItemInterface</i>
    </p>
{% endblock %}

{% block body %}
        <div class="container-xl px-lg-5">
            <div class="row gx-lg-5">
                {% for plan in plans %}
                    {% include "subscriptions/partials/card.html.twig" %}
                {% endfor %}
            </div>
        </div>
{% endblock %}
