{% extends 'logged.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
    <div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ plan.planName|capitalize }}</h5>
                    <p class="card-text">{{ plan.description }}</p>
                    <a class="btn btn-primary"
                       href={{ path("cart_plan_add", {id: plan.id}) }}>Add to cart</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}