AddHandler application/x-httpd-php83 php

RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?salwa.com.pl$
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1
RewriteCond %{HTTP_HOST} ^(www.)?salwa.com.pl$
RewriteRule ^(/)?$ /public/index.php [L]
