{% extends 'base.html.twig' %}
{% block header_description %}
    <div class="row">
        <div class="col-12 text-center">
            <p class="">Products, like Subscriptions, are part of Doctrine Class Table Inheritance. This table is part
                of free shop database based on postgres database example
                <a target="_blank"
                   href="https://en.wikiversity.org/wiki/Database_Examples/Northwind">Northwind</a>
                .<br/> Products also use symfony lock to perform stock changes.
            </p>
        </div>
    </div>
{% endblock %}
{% block body %}
    <!-- Shop Start -->
    <div class="container-fluid pt-5 mt-5">
        <div class="row px-xl-5">

            <!-- Shop Product Start -->
            <div class="col-lg-12 col-md-12">
                <div class="row pb-3">
                    {% for product in paginator.getResults() %}
                        {% include "product/partials/card.html.twig" with {'product': product} %}
                    {% endfor %}
                    {% include "pagination/paginator.html.twig" %}

                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

{% endblock %}
