{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    {% if app.debug %}
        <header class="py-5">
            <div class="container px-lg-3">
                <div class="p-2 p-lg-1 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <p class="fs-5">Products, like Subscriptions, are part of Doctrine Class Table Inheritance.<br/>
                            This table is part of free shop database based on postgres database example
                            <a target="_blank"
                               href="https://en.wikiversity.org/wiki/Database_Examples/Northwind">Northwind</a>
                            .<br/> Products also use symfony lock(semaphore) to perform decrese of product stock
                            quantity
                        </p>
                    </div>
                </div>
            </div>
        </header>
    {% endif %}
    <section class="pt-4">
        <div class="container px-lg-3">
            <div class="row gx-lg-5">
                {% for product in paginator.results %}
                    {% include "product/partials/card.html.twig" with {"add_to_cart": "false"} %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% include "pagination/paginator.html.twig" %}
{% endblock %}