{% extends 'logged.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
    <div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ product.name|capitalize }}</h5>
                    <p class="card-text">{{ product.category.name }}</p>
                    <a class="btn btn-primary"
                       href="{{ path("cart_add", {type:"product",id: product.id}) }}">To cart</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}