<div class="col-12 pb-1">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-3">
            <li class="page-item {% if not paginator.hasPreviousPage %}disabled{% endif %}">
                <a class="page-link" href="{{ path(app.request.get('_route'), {page: paginator.previousPage}) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for i in 1..paginator.lastPage %}
                <li class="page-item {% if i == paginator.currentPage %}active{% endif%}"><a class="page-link" href="{{ path(app.request.get('_route'), {page: i}) }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item {% if not paginator.hasNextPage %} disabled {% endif %}">
                <a class="page-link" href="{{ path(app.request.get('_route'), {page: paginator.nextPage}) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>