<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>RShop {% block title %} {% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="https://cdn.salwa.com.pl/cart/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://cdn.salwa.com.pl">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="https://cdn.salwa.com.pl/cart/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="https://cdn.salwa.com.pl/cart/css/style.css" rel="stylesheet">
    <link href="https://cdn.salwa.com.pl/cart/css/custom.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body>
{% include 'layout/topbar/topbar.html.twig' %}
{% include 'layout/navbar/navbar.html.twig' %}

{% block body %}{% endblock %}

<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-0 pt-0">
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="#">RShop</a>. All Rights Reserved.
                Designed
                by
                <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">HTML Codex.</a>
                Distributed By <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </p>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.salwa.com.pl/cart/lib/easing/easing.min.js"></script>
<script src="https://cdn.salwa.com.pl/cart/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="https://cdn.salwa.com.pl/cart/mail/jqBootstrapValidation.min.js"></script>
<script src="https://cdn.salwa.com.pl/cart/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="https://cdn.salwa.com.pl/cart/js/main.js"></script>
{% block scripts %}{% endblock %}
</body>

</html>
