<div class="col-lg-6 col-xxl-3 mb-5">
    <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <h3 class="fs-6 fw-bold card-product-title mt-20 mb-20">{{ item.destinationEntity.name|capitalize }}</h3>
            <p class="mb-0">{{ item.type }}
            </p>
        </div>
    </div>
</div>
